@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Lizobuya Danisa</h1>


    <p>
        Dedicated and skilled graduate software engineer with a strong background in student support within the education coding industry and a
        proven track record of delivering exceptional customer service in contact center environments. Seeking a challenging role that leverages my
        technical expertise, passion for education technology, and customer-centric mindset to contribute to innovative software solutions that
        enhance learning experiences and user satisfaction. Eager to collaborate within a dynamic team, further develop my programming skills, and
        drive the development of cutting-edge software products in a collaborative and growth-focused environment.
    </p>
</div>
